@use "../sass/utilities/mixins" as mx;

.is-border-radius
{
   img{
      border-radius: 10px;
   }
}

@include mx.mobile {

   .is-img-responsive {
      height: 168px;
      width: 168px;
   }
}

@include mx.tablet {

   .is-img-responsive {
      height: 173px;
      width: 173px;
   }
}

@include mx.from(1400px) {
   .is-img-responsive {
      height: 178px;
      width: 178px;
   }
}

