<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - ServerApp</title>
       <link rel="stylesheet" href="~/razor-pages/site.css" />
</head>
<body>
   <main class="bd-docs is-fullwidth mb-6 pb-6 pt-5" >
      <div class="bd-docs-content ">
         <div class="container">
            @RenderBody()
         </div>
      </div>
   </main>
</body>
</html>
