@use "../sass/utilities/css-variables" as cv;
@use "../sass/utilities/mixins" as mx;

.bd-docs {
  --p: 2rem;
  --scale: 0.92;
  --menu-width: 16rem;
  --menu-border: 2px;
  border-top: 1px solid transparent;
  border-top-color: hsl(
    cv.getVar("scheme-h"),
    cv.getVar("scheme-s"),
    calc(#{cv.getVar("scheme-main-l")} + var(--border-offset))
  );
  // position: relative;
}

.bd-docs-overlay {
  @include mx.overlay;
  background-color: rgba(black, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.bd-docs-menu {
  background-color: hsl(
    cv.getVar("scheme-h"),
    cv.getVar("scheme-s"),
    calc(#{cv.getVar("scheme-main-l")} + var(--background-offset))
  );
  z-index: 11;
}

.bd-docs-lead {
  // container-name: docs-lead;
  // container-type: inline-size;
  display: flex;
  flex-direction: column;
  // gap: calc(2.9 * var(--p));
  gap: var(--p);
  overflow: hidden;
}

.bd-docs-button {
  @include cv.register-vars(
    (
      "button-border-width": 0px,
    )
  );

  background-color: cv.getVar("scheme-main-ter");
  box-shadow: none;
  color: cv.getVar("text-weak");
  padding: 0 !important;
  height: 2.5em;
  width: 2.5em;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}

.bd-docs-content {
  font-size: calc(1.3em * var(--scale));
  position: relative;
}

@include mx.mobile {
  .bd-docs {
    padding: var(--p);

    &.is-active {
      .bd-docs-overlay {
        opacity: 1;
        pointer-events: auto;
      }

      .bd-docs-menu {
        transform: translateX(100%);
      }
    }
  }

  .bd-docs-menu {
    min-height: 100vh;


    top: 0;
    right: 100%;
    position: absolute;
    width: var(--menu-width);
    transition-duration: cv.getVar("duration");
    transition-property: transform;
  }
}

@include mx.tablet {
  .bd-docs {
    padding: var(--p);

    &.is-active {
      .bd-docs-overlay {
        opacity: 1;
        pointer-events: auto;
      }

      .bd-docs-menu {
        transform: translateX(100%);
      }
    }
  }

  .bd-docs-menu {
    min-height: 100vh;


    top: 0;
    right: 100%;
    position: absolute;
    width: var(--menu-width);
    transition-duration: cv.getVar("duration");
    transition-property: transform;
  }


  .bd-docs-lead {
    padding-left: var(--p);
  }
}

@include mx.from(1400px) {
  .bd-docs {
    --scale: 1.125;
  }

  
  .bd-docs-lead {
    padding-left: calc(2.9 * var(--p));
  }

}
