@page "/"

<PageTitle>Inicio</PageTitle>

<PageContent>
   <div class="section is-large has-text-centered">
      <h1 class="title is-1">¡Has ingresado a la Aplicación!</h1>
      <h2 class="subtitle is-spaced">Puedes revisar las cookies, estas son las que te permiten ingresar a la applicación</h2>
   </div>
</PageContent>