@page "/"

<PageTitle>Inicio</PageTitle>

<section class="bd-home-intro">

  <div class="bd-home-intro-body">
    <div class="bd-home-intro-content">
      <h1 class="bd-home-title ">
        La Herramienta<br>
        De Analisis Bancarios
      </h1>

      <p class="bd-home-tagline">
        Bulma is a free, open source framework that provides ready-to-use
        frontend components that you can easily combine to build responsive web
        interfaces.
      </p>

      <span class="thing bd-home-knowledge">
      </span>

      <div class="bd-home-buttons buttons is-centered">
        <a class="button is-primary" href="https://bulma.io/documentation">
          <strong>Get Started</strong>
        </a>

        <a class="button" href="https://github.com/jgthms/bulma/releases/download/1.0.2/bulma-1.0.2.zip">
          <strong>Download</strong>
        </a>
      </div>

      @* <div class="bd-home-features things">
        <div class="thing is-cssvars">CSS Variables</div>
        <button class="js-darkmode bd-darkmode thing">
          <span class="icon is-small bd-hidden-dark">
            <i class="fas fa-moon color-moon" aria-hidden="true"></i>
          </span>

          <span class="bd-hidden-dark">Dark Mode</span>

          <span class="icon is-small bd-hidden-light">
            <i class="fas fa-sun color-sun" aria-hidden="true"></i>
          </span>

          <span class="bd-hidden-light">Light Mode</span>
        </button>

        <div class="thing is-dartsass">Dart Sass</div>
        <div class="thing is-flexbox">Flexbox</div>
        <div class="thing is-modular">Modular</div>
        <div class="thing is-opensource">Open Source</div>
        <div class="thing is-responsive">Responsive</div>
        <div class="thing is-smartgrid">Smart Grid</div>
      </div> *@
    </div>
  </div> 
</section>

<section class="bd-hero mb-0 py-0">
  <div class="bd-hero-body">
    <h1 class="bd-hero-title ">
      Lorem ipsum dolor sit, 
    </h1>

    <hr class="bd-hr">
    <div class="bd-heading">
      <h2 class="subtitle">
         Nobis atque debitis quae error accusantium cumque, consectetur excepturi
      </h2>
    </div>

  </div>
</section>
