@page "/"

<PageTitle>Inicio</PageTitle>

<PageContent>
   <div class="section is-large has-text-centered">
      <h1 class="title is-1">¡Has ingresado a la Aplicación!</h1>
      <h2 class="subtitle is-spaced">En realidad lo que ha cambiado es que ahora tienes un nuevo Token</h2>
   </div>
</PageContent>