@page "/authentication/login"
@model PageLoginModel

@{
   ViewData["Title"] = "Sign in";
}

<div class="container is-max-tablet">
   <div class="box no-box-in-mobile responsive-p-box">
      <form method="post" >
         <div class="block pb-1">
            <label>Sign in</label>
            @* Mostrar el mensaje de error si existe *@
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
               <span class="help is-danger">
                  @Model.ErrorMessage
               </span>
            }
         </div>
         <div class="field pb-4">
            <input asp-for="LoginModel.UserEmail" class="input" placeholder="Email" 
               autocomplete="username"/>
            <span asp-validation-for="LoginModel.UserEmail" class="help is-danger"></span>
         </div>
         <div class="field pb-2">
            <input asp-for="LoginModel.Password" class="input" placeholder="Password" 
               autocomplete="current-password" type="password"/>
            <span asp-validation-for="LoginModel.Password" class="help is-danger"></span>
         </div>
         <div class="help m-0">No Account?
            <a asp-page="Register" class="m-0 has-text-link">Create Account</a>
         </div>
         <div class="field pt-4 is-flex">
            <button type="submit" class="ml-auto button has-text-weight-normal">Log In</button>
         </div>
      </form>
   </div>
</div>