@page "/authentication/reset-password"
@model PasswordPageModel

@{
   ViewData["Title"] = "Reset Password";
}

<div class="container is-max-tablet">
   @if(!String.IsNullOrEmpty(Model.Token)){
      <p>
         @Model.Token
      </p>
   }
   <div class="box no-box-in-mobile responsive-p-box">
      @if((!string.IsNullOrEmpty(Model.SuccessMessage))){
         <div class="block pb-1 has-text-centered is-wordbreaked">
            <h3 class="title">¡Este Link Debera enviarse por correo!</h3> 
            <span class="subtitle">Revisa tu correo para encontrar el link para restablecer tu contraseña
               <a asp-page="Login" class="m-0 has-text-link">Ingresar</a></span>
            <div class="subtitle">
               *El siguiente link sería enviado a traves de un email provider*
               <a href="@Model.SuccessMessage" class="m-0 has-text-link">Link Para Restablecer Contraseña</a>
            </div>
         </div>
      }else
      {
         <form method="post" >
            <div class="block pb-1">
               <label>Reset Password</label>
               @* Mostrar el mensaje de error si existe *@
               @if (!string.IsNullOrEmpty(Model.ErrorMessage))
               {
                  <span class="help is-danger">
                     @Model.ErrorMessage
                  </span>
               }
            </div>
            <div class="field pb-4">
               <input asp-for="UserNameModel.UserEmail" class="input" placeholder="Email" />
               <span asp-validation-for="UserNameModel.UserEmail" class="help is-danger"></span>
            </div>
            @* <div class="field pb-4">
               <input asp-for="RegisterModel.Password" class="input" placeholder="Password" type="password"/>
               <span asp-validation-for="RegisterModel.Password" class="help is-danger"></span>
            </div>
            <div class="field pb-4">
               <input asp-for="RegisterModel.ConfirmPassword" class="input" placeholder="Confirm Password" type="password"/>
               <span asp-validation-for="RegisterModel.ConfirmPassword" class="help is-danger"></span>
            </div> *@
            <div class="field pt-4 is-flex">
               <button type="submit" class="ml-auto button has-text-weight-normal">Sign Up</button>
            </div>
         </form>
      }
   </div>
</div>